// 全局样式
@import './common.less';

body {
//   font-family: PingFangSC-Semibold, PingFang SC;
}
html,
body,
#root {
  height: 100%;
  color: @text-color;
  background-color: var(--ant-primary-1);
}

h1,h2,p,div{
  color: @text-color;
}